html,
body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--bg-page);
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "HEADER MAIN"
        "FOOTER FOOTER";
    height: 100%;
    overflow: hidden;
}

main {
    /* margin-top: 0;
    margin-right: 0; */
    padding-top: 1rem;
    padding-right: 1rem;
}

header {
    grid-area: HEADER;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(135deg, #5c8c9b 0%, #1c6a81 100%);
    margin-right: 2em;
}

main {
    grid-area: MAIN;
    overflow-y: scroll;

    display: grid;
    /* grid-auto-rows: 100vh; */
    scroll-snap-type: y mandatory;
    margin-top: 1rem;
    margin-right: 1rem;
}

section{
    min-height: 100vh;
}



section>h2 {
    font-size: var(--title-2, 2rem);
    margin-bottom: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    grid-area: FOOTER;
    display: flex;
    justify-content: space-between;
}

.container-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    height: 45%;
}

.container-name hr {
    width: 60%;
    height: 2px;
    margin: 1rem 0 0;

}

.icon-tech {
    width: 9em;
    height: 9em;
    margin-bottom: 1rem;
}

.t-name {
    font-size: var(--title-1, 3rem);

}

.links {
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: var(--link-navbar, 1.4rem);
    padding: 0.5em;
    width: 70%;
    /* flex: 2 1 4em; */
    padding-left: 15px;
    overflow: hidden;
}

.links>a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: transform 0.5s, font-size 0.8s, font-weight 0.8s;
}


.links>a:hover {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: end;
    /* transition: font-size 0.5s, font-weight 0.5s, transform 0.5s; */
    transform: translateX(0.5em);
}


.links>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: currentColor;
    transition: width 1s;
}

a:hover::after {
    width: 100%;
}