:root{
    /* Colores de elementos */
    --bg-page: #3b4058;
    --bg-navbar:#2a6e78;
    --bg-footer: #4b1139;
    --bg-items: #7a907c;
    --bg-section: #2a6e78;
    --title-1: 2.4rem;
    --title-2: 2rem;
    --text: 1rem;
    --link-navbar: 1.4rem;


}